.devcontainer
.git
.github
.gitignore
.env
.cache
.venv
venv
.DS_Store
__pycache__
*.pyc
*.pyo
.pytest_cache
tests/
conftest.py
config/
docker-compose.yml
requirements-test.txt
.idea/
.claude/
.env.test
.env.*example
vpn/
*.md
