services:
  api:
    container_name: dasovbot_api
    image: ghcr.io/volkovskiyda/telegram-bot-api
    restart: always
    pull_policy: always
    environment:
      TELEGRAM_API_ID: $TELEGRAM_API_ID
      TELEGRAM_API_HASH: $TELEGRAM_API_HASH
    ports:
      - 8081:8081

  bot:
    container_name: dasovbot
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    image: ghcr.io/volkovskiyda/dasovbot
    pull_policy: always
    volumes:
      - ./config/data/:/data
      - ./config/media/:/media
      - ./config/export/:/export
    environment:
      BASE_URL: http://api:8081/bot
      READ_TIMEOUT: $READ_TIMEOUT
      BOT_TOKEN: $BOT_TOKEN
      LOADING_VIDEO_ID: $LOADING_VIDEO_ID
      ANIMATION_FILE_ID: $ANIMATION_FILE_ID
      DEVELOPER_CHAT_ID: $DEVELOPER_CHAT_ID
      DEVELOPER_ID: $DEVELOPER_ID
      CONFIG_FOLDER: $CONFIG_FOLDER
      EMPTY_MEDIA_FOLDER: $EMPTY_MEDIA_FOLDER
      DASHBOARD_PASSWORD: $DASHBOARD_PASSWORD
      DASHBOARD_PORT: $DASHBOARD_PORT
    ports:
      - "${DASHBOARD_PORT:-8080}:${DASHBOARD_PORT:-8080}"
